<img src = "assets/images/gatico.gif">
<div class="description-container">
    <h1>Antonio Gálvez Delgado </h1>
    <h2>Estudiante de Ingeniería Informática</h2>    

    <p>Soy un estudiante de Ingeniería Informática en la Escuela Técnica Superior de Ingenierías Informática y de Telecomunicaciones de la Universidad de Granada. 
        Actualmente estoy interesado en tecnologías web y desarrollo de apps.</p>

    <div class="bottom-description">
        <div class="images">
            
        </div>
    
        <button>Descargar CV</button>
    </div>
</div>
